.invoice-container {
  /* padding: 20px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 3px 3px 0 #fff, 4px 4px 0 rgba(0,0,0,.125), 6px 6px 0 #fff, 7px 7px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
  box-shadow: 1px 1px 0 rgba(0,0,0,.1), 3px 3px 0 #fff, 4px 4px 0 rgba(0,0,0,.125), 6px 6px 0 #fff, 7px 7px 0 rgba(0,0,0,.15); */
  margin: 0;
  padding: 0 75px 0 75px;
  position: relative;
}