
        <!-- BEGIN PASSWORD RESET FORM -->
        <form class="login-form" [formGroup]="passwordResetForm" novalidate (ngSubmit)="onResetPassword(passwordResetForm.value)" >
          <h3> Set Password</h3>
           <div class="alert alert-danger" *ngIf="error && error.length > 0">   
              <span>  {{ error }}</span>
          </div>
          <div class="alert alert-success" *ngIf="message && message.length > 0">   
              <span>  {{ message }}</span>
          </div>
          <p *ngIf="message && message.length == 0"> Enter and confirm your password. </p>
          <p> {{ passwordResetDisplayName }} </p>
          <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">New Password</label>
              <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" 
                  type="password"
                  maxlength="40"
                  autocomplete="off" 
                  placeholder="New Password"
                  formControlName="newPassword"
                >                    
                <div *ngIf="passwordResetForm.controls.newPassword.errors && (passwordResetForm.controls.newPassword.dirty || passwordResetForm.controls.newPassword.touched)">
                    <span class="help-block" >Please confirm password</span>
                </div>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
              <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" 
                  type="password"
                  maxlength="40"
                  autocomplete="off" 
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                >                    
                <div *ngIf="passwordResetForm.controls.confirmPassword.errors && (passwordResetForm.controls.confirmPassword.dirty || passwordResetForm.controls.confirmPassword.touched)">
                    <span class="help-block" >Please confirm password</span>
                </div>
              </div>
          </div>
          <div class="form-actions">
              <button type="submit" class="btn green pull-right" 
                  [disabled]="!f.valid || !isPasswordConfirmed"
                  (click)="onPasswordResetClicked()"
              > Submit </button>
          </div>
      </form> 
      <!-- END PASSWORD RESET FORM -->