
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onForgotPassword(forgotPasswordForm.value)" >
          <h3>Forgot Password ?</h3>
           <div class="alert alert-danger" *ngIf="error.length > 0">   
              <span>  {{ error }}</span>
          </div>
          <div class="alert alert-success" *ngIf="message.length > 0">   
              <span>  {{ message }}</span>
          </div>
          <p *ngIf="message.length == 0"> Enter the email address you registered with and we'll send you instructions on how to reset it. </p>
          <div class="form-group" *ngIf="message.length == 0">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" 
                  type="email"
                  maxlength="40"
                  placeholder="Email"
                  formControlName="email"
                >                       
                <div *ngIf="forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)">
                    <span class="help-block" >Please enter email</span>
                </div>
            </div>
          </div>
          <div class="form-actions" *ngIf="message.length == 0">
              <button type="submit" class="btn green pull-right"
                  [disabled]="!forgotPasswordForm.valid"
              > Submit </button>
          </div>
      </form> 
      <!-- END FORGOT PASSWORD FORM -->