
<div class="page-wrapper">
  <div class="page-wrapper-row" *ngIf="showHeader">
      <div class="page-wrapper-top">
              <app-header
              ></app-header>
      </div>
  </div>
  <div class="page-wrapper-row full-height">
      <div class="page-wrapper-middle">
          <!-- BEGIN CONTAINER -->
          <div class="page-container">
              <!-- BEGIN CONTENT -->
              <div class="page-content-wrapper">
                  <!-- BEGIN CONTENT BODY -->
                  <!-- BEGIN PAGE HEAD-->
                  <div class="page-head" >
                      <div class="container-fluid">
                          <!-- BEGIN PAGE TITLE -->
                          <!--<div class="page-title">
                              <h1>Home </h1>
                          </div>-->
                          <!-- END PAGE TITLE -->
                          
                      </div>
                  </div>
                  <!-- END PAGE HEAD-->
                  <!-- BEGIN PAGE CONTENT BODY -->
                  <div class="page-content">
                      <div class="container-fluid"> 
                          
                          <!-- BEGIN PAGE CONTENT INNER -->
                          <div class="page-content-inner">
                              <router-outlet></router-outlet>
                          </div>
                          <!-- END PAGE CONTENT INNER -->
                      </div>
                  </div>
                  <!-- END PAGE CONTENT BODY -->
                  <!-- END CONTENT BODY -->
              </div>
              <!-- END CONTENT -->
              
          </div>
          <!-- END CONTAINER -->
      </div>
  </div>
  <div class="page-wrapper-row">
      <div class="page-wrapper-bottom">
          <!-- BEGIN FOOTER -->
          <app-footer></app-footer>
          <!-- END FOOTER -->
      </div>
  </div>
</div>
